binance-futures-connector==4.0.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
numpy==1.26.4
pandas==2.2.1
pandas_ta==0.3.14b0
pycryptodome==3.20.0
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
websocket-client==1.7.0
flask
